* {
  font-family: Arial;
}

h2{
  margin-bottom: 30px;
}

#myInput {
  width: 50%;
  font-size: 16px;
  border: 2px solid #000000;
  margin-bottom: 10px;
}

#myTable {
  border-collapse: collapse;
  width: 90%;
  border: 2px solid #000000;
  font-size: 15px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 10px;
}

#myTable tr {
  border-bottom: 2px solid #000000;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #303036;

}
